<div class="jumbotron">
  <h1>Welcome to our Jungle!</h1>
  <p>
Welcome to our jungle
We've got fun 'n' games
We got everything you want
Honey, electric chairs
We are the people that can find
Whatever you may need
If you got the money, honey
We got your Hotdog Slicer!
</p>

<p>
In the jungle
Welcome to our jungle
Watch your human feet shoes bring you to your
Knees, knees
I wanna watch you bleed!
</p>
<p>
Welcome to our jungle
We wear hipster hats day by day
If you want matching hipster socks you'll see
But it's the price you pay
And you're a very sexy girl
That's very hard to please
You can taste the hotdog slices
And you can slice them for free
</p>
<p>
In the jungle
Welcome to our jungle
ride my, my, my, my modern skateboard
I, I wanna hear you scream
</p>
<p>
Welcome to the jungle
It gets worse here everyday
You learn to live like an king
with the world's largest smartwatch
If you got a hunger for what you see
You'll buy it eventually
You can have anything you want
But you better not take it from Andy

</p>
<p>
In the jungle
Welcome to our jungle
Watch our red bookshelfs (half off!) bring you to your
Knees, knees
I'm gonna watch you bleed

</p>
<p>
And when you're high from the electric chair you never ever wanna come down,
so down, so down, so down, yeah!

</p>
<p>
You know where you are?
You're in the jungle, baby
You're gonna love these russian spy shoes

</p>
<p>
In the jungle
Welcome to our jungle
Watch these zebra pants bring you to your
Knees, knees

</p>
<p>
In the jungle
Welcome to our jungle
Feel my, my, my, my mens classy shirt!

</p>
<p>
In the jungle
Welcome to our jungle
Watch it bring you to your
Knees, knees

</p>
<p>
In the jungle
Welcome to our jungle
Pull out your wallet
Watch it bring you to your...

</p>
<p>
It's gonna bring you so much enjoyment, but it's not free
Ha! </p>
</div>